html, body {
    margin: 0;
    font-size: 16px;
    background-color: #ecf0f1;
    font-family: 'Lato';
    font-weight: lighter;
}

body{
    background-color: #fff;
    background-image: url('../img/circuit-board.svg');
}

header {
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    height: 70px;
}

header div#logo {
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    width: 20%;
    justify-content: center;
}

header div#logo::after{
    content: '';
    border-bottom: 35px solid transparent;
    border-left: 35px solid #fff;
    border-right: 35px solid transparent;
    border-top: 35px solid #fff;
    position: absolute;
    right: -70px;
}

header div#logo img{
    width: 90px;
    height: auto;
}

div.title-wrapper{
    display: flex;
    flex-flow: column wrap;
}

header div#logo h1, header div#logo h2{
    display: inline-block;
    text-align: center;
    margin: 0;
    font-family: 'Arial';
    color: #2e5fa4;
}

header nav{
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 80%;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    height: 100%;
    color: white;
}
header nav ul:last-child{
    padding-right: 2em;
}

header nav ul span{
    padding-left: 2px;
    padding-right: 2px;
    color: #1bbc9b;
    font-size: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    margin: 15px 25px;
    outline: none;
}

header nav ul li a::before,
header nav ul li a::after{
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #fff;
    content: '';
    opacity: 0.2;
    transition: all 0.3s;
    pointer-events: none;
    box-sizing: border-box;
}

header nav ul li a::before{
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 0; 
}

header nav ul li a::after{
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 100% 0;
}

header nav ul li a:hover::before,
header nav ul li a:hover::after{
    opacity: 1;
}

header nav ul li a:hover::before{
    left: 50%;
    transform: rotate(0deg) translateX(-50%);
}

header nav ul li a:hover::after{
    right: 50%;
    transform: rotate(0deg) translateX(50%);
}

div#fixer{
    height: 70px;
    width: 100%;
}

div#fondo {
    background-color: rgb(40, 40, 40);
    height: 450px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
}

div#fondo #fondo-img{
    width: 100%;
    height: 100%;
    background-image: url('../img/banner2.jpg');
    filter: blur(1px);
    position: absolute;
    z-index: -10;
}

div#fondo h3 {
    font-family: 'Lato';
    font-size: 3em;
    width: 50%;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

div#fondo button{
    width: 60%;
    font-family: 'Lato';
    font-weight: normal;
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3498db;
    border: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.5);
    border-radius: 2px;
    box-shadow: 1.2px 1.2px 0px rgb(255, 255, 255);
}

div#encabezado {
    background: rgb(40, 40,40);
    background-image: url('../img/pattern.png');
    color: #ecf0f1;
    height: 250px;
    padding-top: 3em;
    box-sizing: border-box;
}

div#encabezado h3{
    margin: 0;
    text-align: center;
    font-family: 'Clemente';
    font-weight: lighter;
    font-size: 3.5em;
}

section#somos{
    padding-bottom: 2em;
    margin-bottom: 3em;
    border-bottom: 1px;
    border-bottom-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
    -moz-border-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
    border-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
}

section h4.section-title{
    text-align: center;
    font-size: 1.5em;
    /*font-family: 'Lato';*/
    color: #333;
    margin: 0;
    margin-bottom: 1em;
    font-family: 'Existence'
}

section#somos p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    /*font-weight: normal;*/
    color: #7e7e7e;
    line-height: 25px;
}


section#servicios{
    margin-bottom: 2em;
    position: relative;
}

section#servicios p{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

section#servicios #service-wrapper{
    display: flex;
    flex-flow: row wrap;
    margin: 4em auto 0 auto;
    width: 80%;
}

section#servicios #service-wrapper article{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 24%;
    border: 1px solid #f2f2f2;
    padding: 1em;
    box-sizing: border-box;
    transition: background 0.2s ease-in;
}

section#servicios #service-wrapper article:hover{
    background-color: #2c3e50;
    color: white;
}

#service-wrapper article span.service-icon{
}

#service-wrapper article:hover span.service-icon{
    color: #d6b161;
}

#service-wrapper article span.service-title{
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.1em;
}

#service-wrapper article p{
    font-weight: lighter;
    font-size: 16px;
    padding: 1em;
    margin: 0;
    color: #7e7e7e;
    text-align: justify;
}

#service-wrapper article a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#service-wrapper article:hover a{
    color: white;
}

#service-wrapper article a:hover{
    color: #d6b161;
}

section#contacto{
    background-color: #2c3e50;
    color: white;
    padding: 2em;
    display: flex;
    flex-flow: column;
}

section#contacto h5{
    margin: 0;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1em;
}

section#contacto #contact-wrapper{
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

section#contacto #contact-wrapper #google-map,
section#contacto #contact-wrapper form,
section#contacto #contact-wrapper ul{
    width: 33%;
}

section#contacto #contact-wrapper form{
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

section#contacto #contact-wrapper form input,
section#contacto #contact-wrapper form textarea{
    background-color: #1d2534;
    border: none;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 1em;
}

section#contacto #contact-wrapper form button{
    background-color: #3498db;
    padding: 0.8em 4em 0.8em 4em;
    border: none;
    color: #fff;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #2980b9;
}

section#contacto #contact-wrapper ul{
    margin: 0;
    list-style: none;
    padding: 0 4em;
    box-sizing: border-box;
}

section#contacto #contact-wrapper ul li{
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 1px;
    border-bottom-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
    -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
    border-image: -ms-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
}

section#contacto #contact-wrapper ul li > span{
    color: #d6b161;
    margin-right: 1em;
}

section#contacto #contact-wrapper #google-map{
    box-sizing: border-box;
    margin-right: 2em;
}


/* Store */
div#store-wrapper{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

div#store-wrapper section{
    width: 45%;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8)
}

section.tienda h4{
    margin: 0;
    background: #284565;
    padding: 1em;
    color: #ecf0f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Existence';
}

section.tienda p{
    text-align: center;
    font-size: 1.3em;
    text-shadow: 1px 1px 2px rgba(40, 40, 40, 0.4);
}

section.tienda ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 1.5em;
}

section.tienda ul li{
    width: 35%;
}

section.tienda ul li i.fa-stack-2x{
    color: #2980b9;
}

section.tienda ul li i.fa-stack-1x{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}

section.tienda ul li span:last-child{
    text-shadow: 1px 1px 1px rgba(40, 40, 40, 0.4);
}

section.tienda div.button-wrapper{
    text-align: right;
}

section.tienda div.button-wrapper a{
    padding: 1em;
    display: inline-block;
    background-color: #e74c3c;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color: white;
    border-bottom-right-radius: 5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


section#services{
    width: 60%;
    margin: 0 auto;
    background: white;
    margin-top: -4em;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 0px 0px 15px rgba(40, 40, 40, 0.5);
}

section#services h4{
    margin: 0;
    font-size: 3em;
    font-weight: lighter;
    border-bottom: 1px solid #2c3e50;
    color: #2c3e50;
    padding-left: 1em;
    margin-bottom: .5em;
    margin-top: 1em;
    text-shadow: 2px 2px 2px rgba(40, 40, 40, 0.3);
    font-family: 'Existence';
}

section#services div {
    position: relative;
}

section#services div p{
    padding: 1em;
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgba(40, 40, 40, 0.3);
}

section#services div img.pic-description{
    margin: 0 auto;
    display: inherit;
}

section#services div#polizas article.poliza{
    display: flex;
    align-items: center;
    padding: 1em;
    font-size: 1.1em;
    border-bottom: 1px;
    border-bottom-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
    -moz-border-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
    border-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
}

section#services div#polizas article.poliza:last-child{
    border-bottom: none;
}

section#services div#polizas article.poliza img{
    width: 40%;
    height: 40%;
    border-radius: 5px;
}

section#services div#polizas article.poliza ul{
    width: 70%;
    text-shadow: 1px 1px 2px rgba(40, 40, 40, 0.4);
}

.software-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.software{
    position: relative;
    margin: 0;
    width: 25%;
    margin-bottom: 1em;
}

.software img{
    width: 100%;
    height: auto;
    position: relative;
}

.software figcaption{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #2c3f52;
    color: #ed4e6e;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
    text-align: center;
}

.software figcaption div.title{
    font-size: 25px;
}

.software figcaption p.description{
    font-size: 1em !important;
    color: white;
}

.software figcaption a.url{
    text-decoration: none;
    background-color: #ed4e6e;
    display: inline-block;
    color: white;
    text-decoration: 1px 1px 2px rgba(40, 40, 40, 0.3);
    padding: 10px;
    border-radius: 3px;
}

.software:hover figcaption{
    opacity: 1;
    transform: translate(15px, 15px);
}


.anchor-fix {
    position: absolute;
    top: -70px;
    visibility: hidden;
}

footer{
    width: 100%;
    background-color: #1a252f;
    padding: 1em;
    color: #ecf0f1;
    text-align: center;
    box-sizing: border-box;
}

footer div{
    font-size: 1.1em;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a span.fa{
    font-size: 25px;
}

.particles-js-canvas-el{
    position: absolute;
    z-index: -9;
}